body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #f4f4f4;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;

}

h1.im{
    color: black;
    font-family: cursive;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

li.bold{
    margin-left: 595px;
    float: center;
    display: inline;
    padding: 0 20px 0 20px;
}

a.bold{
    color: #33cc33;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}

a.bold:hover{
    color: #e8491d;
    font-weight: bold;
}

li.normal{
    margin-left: 595px;
    float: center;
    color: black;
    display: inline;
    padding: 0 20px 0 20px;
    transition: 0.6s ease;
}

a.normal{
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    font-size: 24px;
}

a.normal:hover{
    background-color: #000000;
    color: white;
}

.shine{
    padding: 10px;
    background-color: #012839;
}

li.shiny{
    margin-left: 400px;
    float: center;
    display: inline;
    padding: 0 20px 0 20px;
}

a.shiny{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #00c7ec;
    border: 1px solid #00c7ec;
    border-radius: 0px;
    line-height: 3em;
    overflow: hidden;
    padding: 0 3em;
    box-shadow: 0 0 0 0 transparent;
    letter-spacing: 4px;
    transition: all 0.6s ease-in;
}

a.shiny:hover{
    color: white;
    background-color: #00c7ec;
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    transition: all 0.6s ease-out;
}

a.shiny::before{
    content: '';
    display: block;
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
}

a.shine:hover::before{
    animation-name: shiner;
    animation: 1s 0s linear;
}



/* Header **/
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 10px solid #e8491d;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: orangered;
    font-weight: bold;
    height: auto;
}

/* Showcase **/
#showcase{
    min-height: 400px;
    background: darkcyan;
    text-align: center;
    color: #f4f4f4;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

#showcase a{
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        transition: 0.6s ease;
        border-color: white;
    }


    #showcase li{
        float: center;
        display: inline;
        padding: 0 20px 0 20px;
    }

     #showcase a:hover{
        background: white;
        color: black;
        border-color: black;
    }

    /* Newsletter **/
    #newsletter{
        padding: 15px;
        color: #f4f4f4;
        background: #35424a;
    }

    #newsletter h1{
        float: left;
    }

    #newsletter form{
        float: right;
        margin-top: 15px;
    }

    #newsletter input[type="email"]{
        padding: 4px;
        height: 25px;
        width: 250px;
    }

    /* Boxes **/

    #boxes{
        margin-top: 20px;
    }

    #boxes .container{
        float: center;
        text-align: center;
        width: 30%;
        padding: 10px;
        color: black;
    }

    .mail h1{
        color:black;
        text-align: center;
    }

    .mail li{
        float: center;
        display: inline;
        padding: 0 20px 0 20px;
    }

    .mail a{
        color:  #ff7c48;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        transition: 0.6s ease;
        border-color: transparent;
    }

    .mail a:hover{
        background-color: tomato;
        color: white;
        text-align: center;
    }

    /* Sidebar **/
    aside#sidebar{
        float: right;
        width: 30%;
        margin-top: 10px;
    }
    ::-webkit-scrollbar{
        width: 10px;
    }
    ::-webkit-scrollbar-thumb

    /* Main-col **/
    article#main-col{
        float: left;
        width: 65%;
    }

    footer{
        padding: 20px;
        margin-top: 20px;
        color: #ffffff;
        background: #e8491d;
        text-align: center;
    }